.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.floatContainer {
  padding: 0;
}

.floatTitles {
  height: 50px;
  width: 50%;
  float:left;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 5px solid black;
}

#friendTitle{
  background-color: rgb(172, 247, 169);
}

#tweetTitle{
  background-color: rgb(114, 189, 250);
}

.tweetInputs {
  height: 400px;
  width: 50%;
  float:left;
  background-color: rgb(32, 142, 233);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.tweetInputs input {
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  padding-left: 10px;
}

.tweetInputs button {
  border: none;
  width: 150px;
  height: 50px;
  background-color: #2226f3bd;
  color: white;
  border-radius: 10px;
  font-size: 15px;
}

.friendInputs{
  height: 400px;
  width: 50%;
  float:left;
  background-color: rgb(130, 243, 126);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-top: 5px solid black;
  border-bottom: 5px solid black;
}


.friendInputs input {
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  padding-left: 10px;
}

.friendInputs button {
  border: none;
  width: 150px;
  height: 50px;
  background-color: #054d14;
  color: white;
  border-radius: 10px;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
}

.listOfFriends {
  width: 50%;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.listOfTweets{
  width: 50%;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.friendsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.friendContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.friend {
  width: 400px;
  height: 60px;
  background-color: #054d14;
  color: white;
  display: flex;
}

.friend h3 {
  margin-left: 15px;
}

.friendContainer button {
  width: 80px;
  height: 60px;
  border: 2px solid black;
  background-color: #054d14;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}


.tweetContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.tweet {
  background-color: #2226f3bd;
  color: white;
  display: flex;
  padding: 10px;
}

.tweet h4 {
  margin-left: 10px;
}

#removeBtn {
  border-left: none;
}
